.btn{
  display: inline;
} 

.left{
  background-color: rgb(85, 189, 189);
  height: 40px;
  width: 150px;
}

.center{
  background-color: rgb(166, 130, 199);
  height: 40px;
  width: 150px;
}

.right{
  background-color: rgb(165, 163, 42);
  height: 40px;
  width: 150px;
} 